@{
    Layout = null;
}

<form asp-action="SearchByKeyword" asp-controller="News" method="get">
    <label for="keyword">Ara</label>
    <input type="text" name="keyword" id="keyword">
    <button type="submit">Ara</button>
</form>
